@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap');

.container {
    font-family: 'Source Sans Pro', monospace;
}
 
.spawn-locations {
    position: absolute;
    top: 10vh;
    left: 10vh;
}

.location {
    background-color: #1c1c1c;
    width: 28vh;
    height: 4.5vh;
    margin-bottom: .75vh;
    transition: 0.2s;
    border-radius: .6vh;

}

.location > p {
    position: relative;
    color: white;
    text-align: center;
    line-height: 4.5vh;
    font-size: 1.4vh;
}


.selected {
    border-top: 7px solid #4DD5F1;
}

.submit-spawn {
    background-color: rgba(32, 158, 16, 0.75);
    width: 28vh;
    height: 4.5vh;
    margin-bottom: .75vh;
    transition: 0.2s;
}

.submit-spawn > p {
    position: relative;
    color: white;
    text-align: center;
    line-height: 4.5vh;
    font-size: 13px;
    font-family: 'Lato';
    letter-spacing: 1px;
    font-weight: bold;
}

.submit-spawn:hover {
    background-color: rgba(32, 158, 16, 0.85);
    transition: 0.2s;
}

#spawn-label {
    font-weight: bold;
}

.loclabel {
    width: 28vh;
    height: 4.5vh;
    margin-bottom: .75vh;
    transition: 0.2s;
    background-color: #2C2C2C;
    border-radius: .6vh;

}

.loclabel > p {
    font-family: 'Lato';
    letter-spacing: 1px;
    font-weight: bold;
    position: relative;
    color: rgb(255, 255, 255);
    
    text-align: center;
    line-height: 4.5vh;
    font-size: 13px;
}